/* rem and em do NOT depend on HTML font-size in media queries 
instead, 1rem = 1em = 16px */

/* rem has some bugs in some browsers when used in media
 queries, so use em */

/**************************************/
/* L -- BELOW 1200 */
/**************************************/

/* 1200px / 16px = 75 */
@media (max-width: 75em) {
  /* GENERAL */
  .container {
    width: auto;
    max-width: 96rem;
    margin: 0 3.2rem;
  }

  /* REUSABLE COMPONENTS/STYLES */

  /* HEADER */

  /* NAV */

  /* HERO */

  /* OUR STORY */

  /* WATCH */

  /* EXPERTISE */

  /* TEAM */

  /* CONTACT-CLIENT */

  /* FOOTER */
  .upper-footer {
    grid-template-rows: auto;
    grid-template-columns: 2fr;
    grid-auto-flow: row;
  }
}

/**************************************/
/* M -- BELOW 992 */
/**************************************/

/* 992px / 16px = 62 */
@media (max-width: 62em) {
  /* GENERAL */
  .container {
  }

  /* REUSABLE COMPONENTS/STYLES */

  /* HEADER */

  /* NAV */

  /* HERO */

  /* OUR STORY */

  /* WATCH */

  /* EXPERTISE */

  /* TEAM */

  /* CONTACT-CLIENT */

  /* FOOTER */
}

/**************************************/
/* S -- BELOW 768 */
/**************************************/

/* 768px / 16px = 48 */
@media (max-width: 48em) {
  /* GENERAL */
  .container {
  }

  /* REUSABLE COMPONENTS/STYLES */

  /* HEADER */

  /* NAV */

  /* HERO */

  /* OUR STORY */

  /* WATCH */

  /* EXPERTISE */

  /* TEAM */

  /* CONTACT-CLIENT */

  /* FOOTER */
}

/* 576px / 16px = 36 */
@media (max-width: 36em) {
  /* GENERAL */
  .container {
  }

  /* REUSABLE COMPONENTS/STYLES */

  /* HEADER */

  /* NAV */

  /* HERO */

  /* OUR STORY */

  /* WATCH */

  /* EXPERTISE */

  /* TEAM */

  /* CONTACT-CLIENT */

  /* FOOTER */
}
