/*

--- FONT SIZES (px)


--- FONT WEIGHTS
Default: 
Bold: 

--- COLORS
Primary: 
Tint: 
Greys: 

--- BORDER-RADIUS
Default: 

--- WHITESPACE (px)

*/

/* ************************************ */
/* GENERAL */
/* ************************************ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  font-family: '', sans-serif;
}

/* ************************************ */
/* REUSABLE COMPONENTS/STYLES */
/* ************************************ */

.btn {

}

.logo {

}

/* ************************************ */
/* NAV */
/* ************************************ */

/* ************************************ */
/* HERO */
/* ************************************ */

/* ************************************ */
/* OUR STORY */
/* ************************************ */

/* ************************************ */
/* WATCH */
/* ************************************ */

/* ************************************ */
/* EXPERTISE */
/* ************************************ */

/* ************************************ */
/* TEAM */
/* ************************************ */

/* ************************************ */
/* CONTACT-CLIENT */
/* ************************************ */

/* ************************************ */
/* FOOTER */
/* ************************************ */


