/*

--- FONT SIZES (px)


--- FONT WEIGHTS
Default: 
Bold: 

--- COLORS
Primary: 
Tint: 
Greys: 

--- BORDER-RADIUS
Default: 

--- WHITESPACE (px)

*/

/* ************************************ */
/* GENERAL */
/* ************************************ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  font-family: '', sans-serif;
}

/* ************************************ */
/* REUSABLE COMPONENTS/STYLES */
/* ************************************ */

.btn {

}

.logo {

}

/* ************************************ */
/* NAV */
/* ************************************ */

/* ************************************ */
/* HERO */
/* ************************************ */

/* ************************************ */
/* OUR STORY */
/* ************************************ */

/* ************************************ */
/* WATCH */

.watch{
  display: flex;
  background-image: url(images/bgk-middle.png);
  background-size: cover;
  height: 553px;
  justify-content: center;
  align-items: center;
}

.watch-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
}

.watch-text {
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  margin-top: 30px;
}
/* ************************************ */

/* ************************************ */
/* EXPERTISE */
/* ************************************ */

/* ************************************ */
/* TEAM */
/* ************************************ */
.team{
  background-image: url();

}
/* ************************************ */
/* CONTACT-CLIENT */
/* ************************************ */

/* ************************************ */
/* FOOTER */
/* ************************************ */

