/*

--- FONT SIZES (px)


--- FONT WEIGHTS
Default: 
Bold: 

--- COLORS
Primary: 
Tint: 
Greys: 

--- BORDER-RADIUS
Default: 

--- WHITESPACE (px)

*/

/* ************************************ */
/* GENERAL */
/* ************************************ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* Percentage of user's browser font-size setting */
  /* Setting the font-size to 62.5% makes 1rem = 10px at the default browser size (16px) */
  font-size: 62.5%;
  font-family: '', sans-serif;
}

.container {
  max-width: 96rem;
}

/* ************************************ */
/* REUSABLE COMPONENTS/STYLES */
/* ************************************ */

.btn {
}

.logo {
}

/* ************************************ */
/* NAV */
/* ************************************ */

/* ************************************ */
/* HERO */
/* ************************************ */

/* ************************************ */
/* OUR STORY */
/* ************************************ */

/* ************************************ */
/* WATCH */
/* ************************************ */

/* ************************************ */
/* EXPERTISE */
/* ************************************ */

/* ************************************ */
/* TEAM */
/* ************************************ */

/* ************************************ */
/* CONTACT-CLIENT */
/* ************************************ */

/* ************************************ */
/* FOOTER */
/* ************************************ */

footer {
  padding: 4.2rem;
  background-image: url(images/bgk-footer.png);
  color: #fff;
}

.upper-footer {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
}

.lower-footer {
  display: flex;
  justify-content: space-between;
}

.lower-footer .newsletter {
  margin-bottom: 2rem;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons li {
  list-style: none;
}
