/*

--- FONT SIZES (px)
---FONTS
[HammersmithOne]
Playfair Display
Roboto




--- FONT WEIGHTS
Default: 
Bold: 

--- COLORS
Primary: 
Tint: #00e0d0 or #88f1e9
Greys: #ffffff

--- BORDER-RADIUS
Default: 

--- WHITESPACE (px)

*/

/* ************************************ */
/* GENERAL */
/* ************************************ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* Percentage of user's browser font-size setting */
  /* Setting the font-size to 62.5% makes 1rem = 10px at the default browser size (16px) */
  font-size: 62.5%;
  font-family: '', sans-serif;
}

.container {
  width: 96rem;
  margin: 0 auto;
}

/* ************************************ */
/* REUSABLE COMPONENTS/STYLES */
/* ************************************ */

.btn {
  display: flex;
  width: 14rem;
  height: 4rem; 
  color: #00e0d0;
  border: 1.5px solid #00e0d0;
  border-radius: 2px;
  background: none;
  text-align: center;
  line-height: 3rem;
  font-weight: bold;
  justify-content: center;
}
.btn:hover{
  cursor: pointer;
}
.btn-container{
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo > .logo-text {
  background: -webkit-linear-gradient(0deg,#00e0d0 ,#00e0d0 ,rgb(115, 115, 255));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Roboto', serif;
  font-weight: 200;
  font-size: 3rem;
  padding-left: 1rem;
}

/* ************************************ */
/* HEADER */
/* ************************************ */

header{
    display: flex;
    background-image: url("images/bgk-header.png");
    background-size: cover;
    background-position: center;
    height: 670px;
    color: white;
    justify-content: center;
}
.special p {
  display: flex;
  justify-content: center;
  color: #00e0d0;
  padding-bottom: 1.5rem;
}

/* ************************************ */
/* NAV */
/* ************************************ */

.topbar {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', serif;
    font-weight: 900;
    font-size: 1.2rem;
}
nav ul li a:hover{
  color: #00e0d0;
  text-decoration: none;
}
/* ************************************ */
/* HERO */
/* ************************************ */

.hero {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
}
.hero h1{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
}
.hero p{
    text-align: center; 
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 100;
  }
.hero .btn{
    align-items: center;
}

/* ************************************ */
/* OUR STORY */
/* ************************************ */

.story-container {
  display: flex;
  justify-content: center;
  height: 400px;
  align-items: center;
  gap: 10px;
}

.story-symbol {
  width: 45%;
  display: flex;
  justify-content: flex-end;
  padding: 50px;
}

.story-content {
  display: flex;
  flex-direction: column;
  padding: 50px;
  height: 260px;
  width:55%
  
}

.story-content input {
  margin-top: 20px;
}

.story-content p {
  padding: 5px;
  width: 540px;
  font-size: 1.4rem;
}


/* ************************************ */
/* WATCH */
/* ************************************ */

.watch {
  display: flex;
  flex-direction: column;
  background-image: url(images/bgk-middle.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 553px;
  justify-content: center;
  align-items: center;
}

.watch-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.watch-text {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin-top: 30px;
}

/* ************************************ */
/* EXPERTISE */
/* ************************************ */
.expertise-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 750px;
}

.expertise-title {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 22px;
}

.expertise-title h2 {
  font-size: 2.2rem;
  padding: 5px;
}

.expertise-title p {
  font-size: 1.4rem;
}

.cards-container {
  display: flex;
  flex-direction: column;
  height: 85%; 
  
}

.expertise-first-row {
  display: flex;
  border-bottom: 0.001px solid rgb(214, 209, 209);
  height: 300px;
  align-items: center;
}

.expertise-second-row {
  display: flex;
  height: 300px;
  align-items: center;
}

.expertise-card {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  align-items: center;
  padding: 75px;
}

.expertise-card img{
  height: 50px;
  margin-bottom: 20px;
}

.expertise-card h3, .expertise-card p {
  text-align: center; 
  width:200px;
  margin: 2px;
}

.expertise-card h3 {
  font-style: bold;
}

.expertise-card p {
  font-size: 1.4rem;
}







/* ************************************ */
/* TEAM */
/* ************************************ */
.team {
  display: flex;
  background-image: url(images/bgk-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.team-header {
  padding-bottom: 30px;
}

.team-header h3 {
  font-family: 'playfair-display';
  font-size: 1.8rem;
  color: white;
  text-transform: uppercase;
}

.team-header-text {
  font-family: 'playfair-display';
  color: white; 
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.team-underline {
  color:rgba(255, 255, 255, 0.116);
  font-weight: bolder;
}

.team-cardbox {
  display: flex;
}

.box {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.199);
  width: 200px;
  height: 280px;
  margin: 18px;
  align-items: flex-end;
}

.team-img {
  background-color: white;
  width: 199px;
  height: 220px;
}

.team-members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  border-top: 1px solid rgba(255, 255, 255, 0.199);
  width: 200px;
  height: 60px;
}

.name {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.jobtitle {
  color: #8A8998;
}

.team-footer p {
  color: white;
  margin-top: 40px;
}


/* ************************************ */
/* CONTACT-CLIENT */
/* ************************************ */
.contact-client-section {
  display: flex;
  justify-content: center;
}
.contact-client {
  display: flex;
  justify-content: space-around;
  height: 500px;
  padding-top: 5rem;
}
.contact-client-headlines{
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
}
.contact {
  display: flex;
  flex-direction: column;
  width: 35rem;
  /* margin-right: 10rem; */
}
.contact input:not(.btn) {
  display: flex;
  margin-top: 2rem;
  height: 3rem;
  padding: 1rem;
  font-family: 'Roboto', serif;
}
.contact #message {
  margin: 2rem 0;
  height: 16rem;
  text-align: left;
  font-family: 'Roboto', serif;
  padding: 1rem;
  resize: none;
}
.client {
  display: flex;
  flex-direction: column;
}
.client-logos {
  display: grid;
  grid-template-columns: 19rem 19rem;
}
.client-logos img {
  display: flex;
  max-width: 18rem;
  padding-top: 3rem;
  padding-right: 5rem;
  align-self: flex-end;
}
/* ************************************ */
/* FOOTER */
/* ************************************ */
footer {
  padding: 4.2rem;
  background-image: url(images/bgk-footer.png);
  background-size: cover;
  color: #fff;
}

footer h3 {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 1.4rem;
  align-self: center;
}

footer p {
  font-size: 1rem;
}

.upper-footer {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: column;
  column-gap: 3.2rem;
  row-gap: 2rem;
  margin-bottom: 4rem;
}

.upper-footer .info-group {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.upper-footer .info-group > img {
  width: 1.8rem;
  height: 100%;
}

.upper-footer p {
  font-size: 1.4rem;
  line-height: 1.5;
}

.lower-footer {
  display: flex;
  justify-content: space-between;
}

.lower-footer .footer-nav {
  display: flex;
  gap: 2.4rem;
}

.lower-footer .footer-nav li {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2rem;
  list-style: none;
}

.footer-contact .newsletter {
  margin-bottom: 2rem;
  display: flex;
}

.footer-contact .newsletter input {
  width: 100%;
  margin-right: 1rem;
  padding: 1rem 1.4rem;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.footer-contact .newsletter .btn-subscribe {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
}

.social-icons {
  display: flex;
  gap: 0.8rem;
}

.social-icons li {
  list-style: none;
}

.lower-footer li a {
  color: #fff;
  text-decoration: none;
}

.lower-footer .copyright {
  font-size: 1.2rem;
}